body{
    background-color: #F6F6F7;
}
.found-item{
    height: 50px;
    background-color: #FFFFFF;
    border-radius: 5%;
    display: flex;
    padding: 15px;
    align-items: center;
}

.dropdown-custom{
    background-color: #FFFFFF;
}

.footer{
    background-color: #FFFFFF;
    height: 100px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;

}

.custom-hight{
    height: 350px;
    overflow: hidden;
}

.hight{
    height: 338px!important;
}

.hight-80{
    height: 80%!important;
    overflow: hidden;
}

.hight-20{
    height: 20%;
    
}

